<div class="row">
    <div class="col-12 text-center">
        <img 
            src="{{ getSelectedRecipe.imagePath }}" 
            alt="{{ getSelectedRecipe.name }}"
            [style.height.px]="250"
        >
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1 class="text-center my-3 text-success">Recipe Name: {{ getSelectedRecipe.name }}</h1>
        <h3>Description: {{ getSelectedRecipe.description }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div ngbDropdown>
            <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>Manage Recipe</button>
            <ul ngbDropdownMenu class="text-primary">
              <li>
                <a ngbDropdownItem (click)="onAddToShoppingList()">Add to Shopping List</a>
              </li>
              <li>
                <a ngbDropdownItem href="#">Edit Recipe</a>
              </li>
              <li>
                <a ngbDropdownItem href="#">Delete Recipe</a>
              </li>
            </ul>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of getSelectedRecipe.ingredients">
                {{ ingredient.name }} ({{ ingredient.amount }})
            </li>
        </ul>
    </div>
</div>